<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ChoiceMapper">

    <insert id="insert" parameterType="com.example.entity.Choice" useGeneratedKeys="true">
        insert into choice (id, name, teacher_id, student_id, course_id)
        values (#{id}, #{name}, #{teacherId}, #{studentId}, #{courseId})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Choice">
        update choice set name = #{name}, teacher_id = #{teacherId}, student_id = #{studentId}, course_id = #{courseId}
        where id = #{id} 
    </update>

</mapper>