<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TeacherMapper">

    <insert id="insert" parameterType="com.example.entity.Teacher" useGeneratedKeys="true">
        insert into teacher (username, password, name, avatar, role, sex, title, speciality_id)
        values (#{username}, #{password}, #{name}, #{avatar}, #{role}, #{sex}, #{title}, #{specialityId})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Teacher">
        update teacher
        set username = #{username}, password = #{password}, name = #{name}, avatar = #{avatar}, role = #{role}, sex = #{sex}, title = #{title}, speciality_id = #{specialityId}
        where id = #{id}
    </update>

</mapper>